fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
apscheduler==3.10.4
pydantic-settings==2.5.2
requests==2.32.3
edge-tts==7.2.3
playwright==1.47.0
pygments==2.18.0
moviepy==1.0.3
imageio_ffmpeg==0.6.0
google-api-python-client==2.146.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
groq==0.11.0
httpx==0.27.2
python-dotenv==1.0.1
jinja2==3.1.4